@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scrollHover {
    @apply hover:bg-white;
  }
  .prose p,
  .prose h1,
  .prose h2,
  .prose h3,
  .prose span,
  .prose a,
  .prose button,
  .prose strong {
    @apply text-white !important;
  }
  .gradientText,
  span.gradientText {
    @apply !bg-gradient-to-r !from-s-pink !to-s-violet !bg-clip-text !text-transparent;
  }
  html {
    scroll-behavior: smooth;
  }
  .custom-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .textXLarge {
    @apply text-3xl font-semibold sm:text-4xl md:text-5xl 2xl:text-6xl;
  }

  .textLarge {
    @apply text-2xl xl:text-3xl 2xl:text-4xl;
  }

  .textMedium {
    @apply text-xl  2xl:text-2xl;
  }

  .textSmall {
    @apply text-base sm:text-lg;
  }
  .btn-border {
    border: solid 1px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(101deg, #7e61e7, #d899f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 3px 1000px 1px #000011 inset;
    @apply rounded-md px-6 py-3  text-sm font-bold;
  }
  .btn {
    @apply custom-transition  bg-gradient-to-r from-s-violet to-s-pink hover:bg-gradient-to-l;
    @apply rounded-md px-6 py-3 text-sm  font-bold;
  }
}

.mouse {
  &::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@responsive {
  .pin-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .pin-x-center {
    left: 50%;
    transform: translateX(-50%);
  }

  .pin-y-center {
    top: 50%;
    transform: translateY(-50%);
  }
}

.hamburger-icon span {
  @apply absolute right-0 block w-full border-t-2 border-solid border-white opacity-100;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.hamburger-icon.open span,
.hamburger-icon:hover span {
  @apply w-full;
}

.hamburger-icon span:nth-child(1),
.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
  top: 9px;
}

.hamburger-icon > span:nth-child(1) {
  @apply top-0;
}

.hamburger-icon > span:nth-child(3) {
  top: 18px;
}

.service-summary li {
  @apply text-2xl font-bold;
}

.hamburger-icon.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}

/* Faux outline for older browsers */
.outline {
  color: white; /* Unfortunately you can't use transparent here … */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Real outline for modern browsers */
@supports ((text-stroke: 2px white) or (-webkit-text-stroke: 2px white)) {
  .outline {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
    text-shadow: none;
  }
}
